 .u-section-1 {
  background-image: linear-gradient(to top, rgba(28, 28, 28, 0.5) 0%, rgba(143, 42, 202, 0.5)), linear-gradient(to bottom, rgba(28, 28, 28, 1), rgba(28, 28, 28, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 351px;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 132px;
  margin: 42px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1.2;
  text-transform: none;
  font-weight: 600;
  font-family: 'Agency FB', sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 11px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -71px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    font-size: 4.5rem;
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 78px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -16px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 38px;
    margin-bottom: 45px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 934px;
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1310px;
  margin: 55px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 20.25px));
  min-height: 793px;
  --gap: 27px;
  grid-auto-columns: calc(25% - 20.25px);
}

.u-section-2 .u-list-item-1 {
  --radius: 20px;
  filter: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-1 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-image-2 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 21px auto 0;
}

.u-section-2 .u-image-3 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-4 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-image-5 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 21px auto 0;
}

.u-section-2 .u-image-6 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-7 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-image-8 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 21px auto 0;
}

.u-section-2 .u-image-9 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 40px;
}

.u-section-2 .u-image-10 {
  height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-image-11 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 21px auto 0;
}

.u-section-2 .u-image-12 {
  --radius: 10px;
  width: 200px;
  height: 60px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 78px;
  }

  .u-section-2 .u-list-1 {
    width: 1140px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 690px;
    grid-gap: 27px;
  }

  .u-section-2 .u-image-1 {
    height: 194px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-4 {
    height: 194px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-7 {
    height: 194px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-10 {
    height: 194px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 499px;
  }

  .u-section-2 .u-image-1 {
    height: 154px;
  }

  .u-section-2 .u-image-4 {
    height: 154px;
  }

  .u-section-2 .u-image-7 {
    height: 154px;
  }

  .u-section-2 .u-image-10 {
    height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1197px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 253px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 253px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-10 {
    height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 411px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 411px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 411px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-10 {
    height: 411px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 276px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 276px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 276px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-10 {
    height: 276px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 294px;
} .u-section-4 {
  background-image: none;
  min-height: 459px;
}

.u-section-4 .u-group-1 {
  min-height: 478px;
  height: auto;
  margin-top: 0;
  margin-bottom: -19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #1c1c1c 37%, #8f2aca);
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 117px;
  height: 77px;
  margin: 72px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  width: 297px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  width: 624px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  width: 624px;
  font-weight: 700;
  margin: -29px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-social-icons-1 {
  height: 50px;
  width: 190px;
  min-width: 68px;
  margin: 17px auto 0;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1399px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 442px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }
}