 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 132px;
}

.u-section-1 .u-image-1 {
  width: 97px;
  height: 97px;
  margin: 18px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 979px;
}

.u-section-2 .u-text-1 {
  margin-right: auto;
  margin-left: auto;
  width: 489px;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 659px;
  --gap: 10px;
}

.u-section-2 .u-list-item-1 {
  filter: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  filter: none;
  width: 272px;
  height: 551px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-2 {
  filter: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  filter: none;
  width: 272px;
  height: 551px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-3 {
  filter: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  filter: none;
  width: 272px;
  height: 551px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 30px 10px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-repeater-1 {
    min-height: 375px;
    grid-gap: 10px;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
  }

  .u-section-2 .u-image-2 {
    inset: auto;
  }

  .u-section-2 .u-image-3 {
    inset: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 49px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2059px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -654px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2241px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}